<div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Division</th>
                <th>Project Owner</th>
                <th>Budget</th>
                <th>Status</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
            <tr rr-filter-row [filters]="filters" (filterQueries)="onFilterChange($event, filters)"></tr>
        </thead>
        <tbody *ngFor="let project of projects">
            <tr rr-row *ngIf="!project.isEditing" (editing)="onEdit($event, project)" [project]="project"></tr>
            <tr rr-edit-row *ngIf="project.isEditing" (saved)="onSave($event, project)" [project]="project"></tr>
        </tbody>
    </table>
</div>
